/* Avatar Menu */
.personal #avatar {
    border: 1px solid black;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    background: #ccc;
    cursor: pointer;
}

.menu:hover .avatar-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    border-radius: 0.5rem;
}

.avatar-menu {
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    /*    transform: translateY(-20px);*/
    transition: all 0.3s ease;
}

    .avatar-menu a {
        color: black;
        text-decoration: none;
        border-radius: 0.5rem;
        display: block;
        margin: 10px 0;
        padding: 0.75rem 1rem;
        transition: background-color 0.3s ease;
    }

        .avatar-menu a:hover {
            background-color: #EC4899;
            color: white;
            font-weight: 700;
            cursor: pointer;
        }

/* Card */
.gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;

    @media screen and (max-width: 991px) {
        grid-template-columns: 1fr;
    }
}

.card {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
}

.container-card {
    position: relative;
    background: linear-gradient(71deg, #FDF2FB, #FCE7F3, #FBCFE8);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
}

    .container-card img {
        margin-bottom: 32px;
    }

.card-title {
    font-weight: 400;
    color: #BE185D;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}

.card-description {
    font-weight: 700;
    line-height: 32px;
    color: #BE185D;
    font-size: 24px;
    max-width: 470px;
}

/* Select Year */
/*select {
    font-size: 18px;
    padding: 0.5em 1.5em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #FBCFE8;
    color: #BE185D;
    border-radius: 4px
}

    select:hover {
        color: white;
        background: #EC4899;
        background: linear-gradient(90deg, rgba(190, 24, 93, 1) 0%, rgba(236, 72, 153, 1) 100%);
    }

    select:active {
        transform: translate(0em, 0.2em);
    }*/

/* Filter button */
#filter-button {
    padding: 10px 20px;
    background-color: #F472B6;
    color: white;
    cursor: pointer;
    border: none;
}

    #filter-button:hover {
        background-color: #EC4899;
    }

    #filter-button span {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

/* Action link */
.action-links {
}

    .action-links a:nth-child(1) {
        color: #F9A8D4;
    }

        .action-links a:nth-child(1):hover {
            color: #F472B6;
            text-decoration: underline;
        }

    .action-links a:nth-child(2) {
        color: #DB2777;
    }

        .action-links a:nth-child(2):hover {
            color: #BE185D;
            text-decoration: underline;
        }

    .action-links a {
        margin-right: 30px;
        text-decoration: none;
    }

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

    .pagination a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .pagination a.active {
            background-color: #EC4899;
            color: white;
            border: 1px solid #EC4899;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
