@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Details - Edit Product Description";
    Layout = "~/Views/Staff/Layout/_StaffLayout.cshtml";
}

<link href="~/css/staff/editproductdescription.css" rel="stylesheet"/>
<link rel="stylesheet" href="~/richtexteditor/richtexteditor/rte_theme_default.css" />
<script src="~/richtexteditor/richtexteditor/rte.js"></script>
<script src="~/richtexteditor/richtexteditor/plugins/all_plugins.js"></script>

<section class="title">
    <h2>Edit Product Description</h2>
    <svg version="1.1" id="line_2" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1200px" height="5px"
         xml:space="preserve">
        <path class="path2" fill="#01a09e" stroke-width="3" stroke="black" d="M0 0 l1120 0" />
    </svg>  
</section>


<div id="editor">
    
</div>

<section class="actions">
	<button type="submit" class="finish-editing">Finish Editing</button>
    
    <button type="submit">
        <a href="../Staff/ProductDetails">Cancel Editing</a>
    </button>
    
    
<script type="text/javascript">
    var editor = new RichTextEditor("#editor");
</script>

